<h1>Bookmark</h1>

<%= render 'add_new' %>

<br>

<div>
  URL: <%= link_to @bookmark.url, @bookmark.url %>
</div>

<div>
  <h2>Info (<%= link_to "refresh", update_info_bookmark_path(@bookmark), method: 'PUT' %>)</h2>

  <% if @bookmark.source.github? %>

    <ul>
      <% @bookmark.info.each do |key, value| %>
        <li>
          <strong><%= key.capitalize %></strong>:
          <%= value %>
        </li>
      <% end %>
    </ul>

  <% elsif @bookmark.source.github_error? %>

    <p>
      <h3>This looks like a github link, but there was an error fetching info:</h3>
      <pre><%= @bookmark.info[:error] %></pre>
    </p>

  <% else %>

    <p>No info available at this time.</p>

  <% end %>
</div>
