<h1>Your profile</h1>

<p>Name: <strong><%= current_user.name %></strong></p>

<p>
  <h2>Registrations:</h2>
  <ul>
    <% current_user.registrations.each do |registration| %>
      <li><%= registration.provider %>: <strong><%= registration.uid %></strong></li>
    <% end %>
  </ul>

  <div>
    <%= link_to 'Add twitter registration', '/auth/twitter' %> |
    <%= link_to 'Add facebook registration', '/auth/facebook' %> |
    <%= link_to 'Add github registration', '/auth/github' %>
  </div>
</p>
