<h1>Your profile</h1>

<p>Name: <strong><%= current_user.name %></strong></p>

<p>
  <h2>Registrations:</h2>
  <ul class="list-group">
    <% registration_count = current_user.registrations.count %>

    <% current_user.registrations.each do |registration| %>
      <li class="list-group-item">
        <% if registration_count > 1 %>
          <%= link_to 'Remove', registration_path(registration), {
            class: 'btn btn-small btn-danger',
            data:  {
              method:  'DELETE',
              confirm: "Are you sure you want to remove this registration method?",
            },
          } %>
        <% end %>

        <%= registration.provider %>: <strong><%= registration.uid %></strong>
      </li>
    <% end %>
  </ul>

  <h2>Add a registration</h2>
  <%= render 'shared/social_connect' %>

  <div class="clear"></div>

  <h2>Delete your account</h2>
  <%= link_to 'Delete your account', profile_path, {
    class: 'btn btn-danger',
    data: {
      method: 'DELETE',
      confirm: "Are you sure you want to completely delete your account? There's no going back!"
    }
  } %>
</p>
