<% nav_item = lambda do |text, url, options = {}|  %>
  <% content_tag :li, class: ('active' if current_base_url?(url)) do %>
    <% link_to text, url, options %>
  <% end %>
<% end %>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to 'Libmarks', root_path, class: 'navbar-brand' %>
  </div>

  <div class="navbar-collapse collapse">
    <% if logged_in? %>
      <ul class="nav navbar-nav">
        <%= nav_item.call('All projects', projects_path) %>
        <%= nav_item.call('Add a new bookmark', new_user_bookmark_path) %>
        <%= nav_item.call('Batch-add bookmarks', new_batch_user_bookmarks_path) %>
      </ul>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <%= nav_item.call("Signed in as #{current_user.name}", profile_path) %>
        <%= nav_item.call('Sign out', logout_path, data: {method: 'DELETE'}) %>
      <% else %>
        <%= nav_item.call('Sign in', login_page_path) %>
      <% end %>
    </ul>
  </div>
</nav>
