<h1>All your bookmarks</h1>

<%= render 'add_new' %>

<ul class="list-group">
  <% @bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= link_to "Info", bookmark, class: 'btn btn-info' %>
      <%= link_to bookmark.url, bookmark.url, class: 'bookmark-link' %>

      <% bookmark.tags.each do |tag| %>
        <%= link_to tag.name, search_path(tag: tag.name), class: 'btn btn-sm btn-default' %>
      <% end %>

      <%= link_to "Delete", bookmark, class: 'btn btn-danger right', data: {method: 'DELETE', confirm: 'You sure?'} %>
    </li>
  <% end %>
</ul>
