<h1>Bookmark: <%= link_to @bookmark.url, @bookmark.url %></h1>

<%= render 'add_new' %>

<div class="bookmark-form-box">
  <div>
    <% if @bookmark.errors.present? %>
      <h3>There were problems saving the bookmark:</h2>

      <% @bookmark.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
  </div>

  <%= form_for @bookmark, html: {class: 'form-inline'} do |f| %>
    <%= f.url_field :url, class: 'url-input form-control', placeholder: 'URL' %>
    <%= f.text_field :tag_list, class: 'tag-input form-control', placeholder: 'Tags' %>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  <% end %>
</div>

<div>
  <% refresh_link = link_to "refresh", update_info_user_bookmark_path(@bookmark), method: 'PUT' %>

  <h2>
    Info
    <% if @bookmark.info_fetched_at? %>
      (fetched at <%=l @bookmark.info_fetched_at %>, <%= refresh_link %>)
    <% else %>
      (<%= refresh_link %>)
    <% end %>
  </h2>

  <% if @bookmark.source.github? %>

    <table class="table table-striped">
      <tbody>
        <% @bookmark.info.each do |key, value| %>
          <tr>
            <td><strong><%= key.humanize %></strong>:</td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </ul>

  <% elsif @bookmark.source.github_error? %>

    <p>
      <h3>This looks like a github link, but there was an error fetching info:</h3>
      <pre><%= @bookmark.info[:error] %></pre>
    </p>

  <% else %>

    <p>No info available at this time.</p>

  <% end %>
</div>
